<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{cadastro}}</title>
</head>

<body>
    <div class="container">
        <p class="fs-3 mt-4">Atualizar - Agendamento de Potenciais Clientes</p>
        <p class="fs-6">Sistema utilizado para agendamento de serviços.</p>
        <form action="/posts/{{post.id}}" method="post">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group mb-3">
                <input type="hidden" name="id" class="form-control" id="id" value="{{post.id}}">
                <label for="nome">Nome: </label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome"
                    value="{{post.nome}}">
            </div>
            <div class="form-group mb-3">
                <label for="telefone">Telefone: </label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite seu endereço"
                    value="{{post.telefone}}">
            </div>
            <div class="form-group mb-3">
                <label for="origem">Origem: </label>
                <select name="origem" class="form-select" aria-label="Default select example">
                    {{#equal post.origem "Celular"}}
                    <option value="Celular" selected>Celular</option>
                    {{else}}
                    <option value="Celular">Celular</option>
                    {{/equal}}
                    {{#equal post.origem "Whatsapp"}}
                    <option value="Whatsapp" selected>Whatsapp</option>
                    {{else}}
                    <option value="Whatsapp">Whatsapp</option>
                    {{/equal}}
                    {{#equal post.origem "Telefone fixo"}}
                    <option value="Telefone fixo" selected>Telefone fixo</option>
                    {{else}}
                    <option value="Telefone fixo">Telefone fixo</option>
                    {{/equal}}
                </select>

            </div>
            <div class="form-group mb-3">
                <label for="data">Data do Contato: </label>
                <input id="data" class="form-control" name="data_contato" type="date" value="{{post.data_contato}}" />
            </div>
            <div class="form-group mb-3">
                <label for="observacoes">Observação: </label>
                <textarea class="form-control" id="observacoes" name="observacoes" rows="3"
                    placeholder="Digite suas observações">{{post.observacao}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
    </div>
</body>

</html>